body {background-color: rgb(15, 12, 53);}
header a{
    color: white;
}
body {background-color: rgb(32, 29, 82);}
header a{color:white}

h1 {
    color: rgb(245, 243, 241);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

th{
    border: 5px solid rgb(20, 20, 20);
    padding-top: 12 px;
    padding-top: 12 px;
    color: white
}
table {
width: 100%
}

td {
    border: 2px solid lightslategray;
}

form{
    margin-left: 25%;
    margin-right: 25%;
    width: 50%
}
input{
    width: 100%;
    border-radius: 5px;
}
label{
    color: whitesmoke;
    font-weight: 200;
}

#textid{
    background-color:rgb(212, 206, 218)
}