<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Revolution></title>
        <link rel = "stylesheet" href = "styles.css">

    </head>

    <body>
        <header>
            <ul><!--unordered list-->
                <li><a href="index.html">Terug naar startpagina?</a>:</li>
                <li><a href="chooseRecipe.html">Een receptje uitkiezen?</a>:</li>         
            </ul>
        </header>

        <h1> Recipe Revolution: De soepwebsite</h1>

        <p>Hier kunnen nieuwe receptjes ingegeven worden!</p>

        <form>
            <label for="receptnaam">Receptnaam:</label><br>
            <input type="text" id="textid"><br>
            <label for="bereidingswijze">Bereidingswijze:</label><br>
            <input type="text"><br>
            <label for="ingrediënt1">Eerste Ingrediënt:</label><br>
            <input type="text"><br>
            <label for="ingrediënt2">Tweede Ingrediënt:</label><br>
            <input type="text"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
    
</html>



<!--Commentaar-->