<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Revolution></title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

    </head>

    <body>
        <header>
            <ul><!--unordered list-->
                <li><a href= "/">Home</a></li>
                <li><a href="addRecipe">Een nieuw recept toevoegen?</a>:</li>
                <li><a href="chooseRecipe">Een receptje uitkiezen?</a>:</li> 
                <li><a href="chooseIngredient">Een ingrediëntje uitkiezen?</a>:</li>
                <li><a href="chooseRecipeIngredient">Een ingrediëntje uitkiezen voor een receptje?</a>:</li> 
                <li><a href="materialen">Een materiaaltje uitkiezen voor een receptje?</a>:</li>       
            </ul>
        </header>
        <table>
        <tr>
            <th>receptID</th>
            <th>ingrediëntID</th>
            <th>alternatief ingrediëntID</th>
            <th>hoeveelheid</th>
            <th>eenheid</th>

        </tr>
        {%for row in data%}
        <tr>
            <th>{{row[0]}}</th>
            <th>{{row[1]}}</th>
            <th>{{row[2]}}</th>
            <th>{{row[3]}}</th>
            <th>{{row[4]}}</th>
            <th>{{row[5]}}</th>
        </tr>
        {% endfor %}
    </table>
    </body>
</html>



<!--Commentaar-->