<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Revolution></title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">

    </head>

    <body>
        <header>
            <ul><!--unordered list-->
                <li><a href= "/">Home</a></li>
                <li><a href="addRecipe">Een nieuw recept toevoegen?</a>:</li>
                <li><a href="chooseRecipe">Een receptje uitkiezen?</a>:</li>         
            </ul>
        </header>
        <table>
        <tr>
            <th>RECEPTNAAM</th>
            <th>BEREIDINGSWIJZE</th>
        </tr>
        {%for row in data%}
        <tr>
            <th>{{row[1]}}</th>
            <th>{{row[2]}}</th>
            <th>{{row[3]}}</th>
            <th>{{row[4]}}</th>
            <th>{{row[5]}}</th>
        </tr>
        {% endfor %}
    </table>

        <h1>Dé snoepwebsite</h1>
        <p>Het was beter een soepwebsite geweest!</p>
        <p>Maar dat was te gezond!</p>
        <a href="/">Toch liever soep?</a>
    </body>
</html>



<!--Commentaar-->