<!DOCTYPE html>
<html>
    <head>
        <title>Recipe Revolution></title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    </head>

    <body>
        <header>
            <ul><!--unordered list-->
                <li><a href= "/">Home</a></li>
                <li><a href="addRecipe">Een nieuw recept toevoegen?</a>:</li>
                <li><a href="chooseRecipe">Een receptje uitkiezen?</a>:</li>         
            </ul>
        </header>


        <h1> Recipe Revolution: De soepwebsite</h1>
        <p>HU leest het goed: soep zonder 'n'</p>
        <p>We houden het gezond.</p>
        <p>Welkom hier! </p>
    </body>
    
</html>



<!--Commentaar-->