<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "styles.css">
        <title>Recipe Revolution></title>
    </head>

    <body>
        <header>
            <ul><!--unordered list-->
                <li><a href="addRecipe.html">Een nieuw recept toevoegen?</a>:</li>
                <li><a href="chooseRecipe.html">Een receptje uitkiezen?</a>:</li>         
            </ul>
        </header>


        <h1> Recipe Revolution: De soepwebsite</h1>
        <p>HU leest het goed: soep zonder 'n'</p>
        <p>We houden het gezond.</p>
        <p>Welkom hier! </p>
    </body>
    
</html>



<!--Commentaar-->